# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Flask specific
instance/
.webassets-cache

# Model files
*.pkl
*.joblib

# dotenv
.env